body{
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #fff;
}
.colored-section{
  background-color: #ff4c68;
}
.white-text{
  color: #fff;
}
.colored-section#testimonials{
  background-color: #ef8172;
}
.white-section{
  background-color: #fff;
}

/* top of page */
#title{
  text-align: left;
  padding-top: 15px;

}
.title-header{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 100px;
}
.tindog-topleft{
  padding-left:0px;
  margin-left: 0px;
  padding-right: 0px;
}

.container-fluid{
  padding: 0% 7% 25% 7%;
}

.download-button{
margin: 5% 3% 5% 0;

}
.dogiphoneimg{
  width: 30%;
  transform: rotate(20deg);
  position: absolute;
  right: 10%;
  padding-top: 20px;
}

/* features section */
#features{
  padding: 20% 15%;
  position: relative;
  background-color: #fff;
}
#features h3{
  font-weight: bold;
}
.feature-box{
  padding: 5%;
}
.feature-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.feature-icon:hover{
  color: #ff4c68;
}

/* carousel section */
#testimonials{
  font-size: 0.8rem;
  font-weight: 500;
  padding: 2% 5%;
}
.testimonial-text{
  font-weight:700;
  padding-bottom:5%;
  padding: 0% 12% 5%;
}
#testimonials-carousel{
  padding: 15% 15%;
}
.testimonialsimg{
  width:8%;
  margin-top: 5%;
  border-radius: 100%;
}
.nav-item{
  padding: 12px;
}
.nav-link{
font-size:1.2rem;
font-family: "Montserrat-light"
}
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
#press{
  background-color: #ef8172;
  padding-bottom: 5%;
}
.press-icon{
  width: 15%;
}
/* pricing section */
#pricing{
  padding: 15% 7%;
}
.pricing-heading{
  font-weight: bold;
}
.smaller-heading{
  color: #ef8172
}
.card-header{
  background-color: #ef8172;
}
.card{
  margin-top: 10px; background-color: #f7f7f7;
}
.card-body{
  height:18rem;
  padding-top: 0px;
}
.pricingButton{
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  background-color: #gray;
  font-weight: bold;
  border-color: black;
}
/* cta section */
#cta{
  padding: 7% 15% 30%;


}
.cta-heading{
  line-height: 1.5;
  padding-bottom: 30px;
  font-weight: bold;
}

/* footer section */
#footer{
  padding: 15% 15% 0%;
}
.footer-icon{
  margin: 7px 7px;
  margin-top: 50px;
}


/* smaller size screen optimization */
@media (max-width: 767px)
{

.dogiphoneimg{
  position:static;
  transform: rotate(0);
  padding-top: 10px;
  width: 60%;
  text-align: center;
}

.container-fluid{
padding-bottom: 10px;
}

#title{
  text-align: center;
}


}
